<?xml version="1.0"?>
<config>
    <modules>
        <Agil_Contacts>
            <version>0.1.0</version>
        </Agil_Contacts>
    </modules>
    <global>
        <models>
            <agil_contacts>
                <class>Agil_Contacts_Model</class>
                <resourceModel>agil_contacts_resource</resourceModel>
            </agil_contacts>
            <agil_contacts_resource>
                <class>Agil_Contacts_Model_Resource</class>
                <entities>
                    <contact>
                        <table>contacts</table>
                    </contact>
                </entities>
            </agil_contacts_resource>
        </models>
        <resources>
            <agil_contacts_setup>
                <setup>
                    <module>Agil_Contacts</module>
                </setup>
            </agil_contacts_setup>
            <agil_contacts_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </agil_contacts_write>
            <agil_contacts_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </agil_contacts_read>
        </resources>
        <blocks>
            <agil_contacts>
                <class>Agil_Contacts_Block</class>
            </agil_contacts>
        </blocks>
        <helpers>
            <agil_contacts>
                <class>Agil_Contacts_Helper</class>
            </agil_contacts>
        </helpers>
        <events>
            <contacts_send_after>
                <observers>
                    <agil_contacts>
                        <class>agil_contacts/observer</class>
                        <method>saveContact</method>
                    </agil_contacts>
                </observers>
            </contacts_send_after>
        </events>
    </global>
    <frontend>
        <routers>
            <contacts>
                <args>
                    <modules>
                        <agil_contacts before="Mage_Contacts">Agil_Contacts</agil_contacts>
                    </modules>
                </args>
            </contacts>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <agil_contacts before="Mage_Adminhtml">Agil_Contacts_Adminhtml</agil_contacts>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>